<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
            bindDomEvent();
        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }
                $(this).siblings(".custom-file-label").html(fileName);
            });
            }

        $( function() {
            $(".slide_gallery").bxSlider({
                auto : true, autoControls : false, pager:false
            });
        });
        </script>
</th:block>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
        body{


        }

        select{
            margin-right:10px;
        }
    </style>
</th:block>


  <div layout:fragment="content">
    <h2 class="text-center">회원목록</h2> <br><br>
    <div class="wrap">

        <br><br>
        <table class="table">
          <thead>
            <tr>
              <td>회원번호</td>
              <td>이름</td>
              <td>아이디</td>
              <td>이메일</td>
              <td>가입일자</td>
              <td>연락처</td>
              <td>우편번호</td>
              <td>주소</td>
              <td>등급</td>
              <td>삭제</td>
            </tr>
          <tr th:each="list, loop : ${memberList}">
            <td th:text="${list.id}"></td>
            <td th:text="${list.memberName}"></td>
            <td th:text="${list.username}"></td>
            <td th:text="${list.email}"></td>
            <td th:text="${list.regTime}"></td>
            <td th:text="${list.Phone}"></td>
            <td th:text="${list.zipCode}"></td>
            <td th:text="${list.memberAddress}"></td>
            <td th:text="${list.role}"></td>
            <td>
              <button type="button" class="btn btn-danger">
                <a style="color:#fff;" th:href="'/members/delete/'+${list.id}">삭제</a>
              </button>
            </td>
          </tr>

          </thead>
        </table>



  </div>

  </div>


 </html>