<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<typeAliases>
    <typeAlias type=com.kh.myBatis.member.model.vo.Member" alias="member" />
    <typeAlias type=com.kh.myBatis.board.model.vo.Board" alias="Board" />
    <typeAlias type=com.kh.myBatis.board.model.vo.SearchCondition" alias="SearchCondition" />
</typeAliases>

<settings>
    <setting name="jdbcTypeForNull" value="null"/>

</settings>
<settings>
  <setting name="jdbcTypeForNull" value="NULL"/>

  <seelct id="select"/>

</settings>






</body>
</html>