<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<!--<th:block layout:fragment="css">-->
<!--  <style>-->


<!--    </style>-->
<!--</th:block>-->

<!--<div th:fragment="header">-->
<!--  &lt;!&ndash; Navigation&ndash;&gt;-->
<!--  <div id="header-first">-->
<!--    <div id="header-logo">-->
<!--      <a href="/"><img src="/assets/img/aqualogo.jpg" id="header-logo-img" /></a>-->
<!--    </div>-->




<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <i class="fas fa-bars"></i>-->
<!--      </button>-->

<!--      <div class="" data-parallax="scroll" >-->
<!--&lt;!&ndash;        <form class="d-flex tm-search-form">&ndash;&gt;-->
<!--&lt;!&ndash;          <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="btn btn-outline-success tm-search-btn" type="submit">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="fas fa-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--      </div>-->


<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--        <form class="d-flex tm-search-form">-->
<!--          <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success tm-search-btn" type="submit">-->
<!--            <i class="fas fa-search"></i>-->
<!--          </button>-->
<!--        </form>-->


<!--        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--            <a class="nav-link" href="/admin/item/new">상품 등록</a>-->
<!--          </li>-->

<!--          <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--            <a class="nav-link" href="/admin/items">상품 관리</a>-->
<!--          </li>-->

<!--          <li class="nav-item" sec:authorize="isAnonymous()">-->
<!--            <a class="nav-link" href="/members/login">로그인</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--            <a class="nav-link" href="/members/logout">로그아웃</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--            <a class="nav-link" href="/orders">구매이력</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--            <a class="nav-link" href="/cart">장바구니</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->




<!--  &lt;!&ndash; Header&ndash;&gt;-->




<!--  &lt;!&ndash;    <header class="bg-info py-1">&ndash;&gt;-->
<!--  &lt;!&ndash;        <div class="container px-4 px-lg-5 my-5">&ndash;&gt;-->

<!--  &lt;!&ndash;            <form class="d-flex">&ndash;&gt;-->
<!--  &lt;!&ndash;                <button class="btn btn-outline-dark" type="submit">&ndash;&gt;-->
<!--  &lt;!&ndash;                    <i class="bi-cart-fill me-1"></i>&ndash;&gt;-->
<!--  &lt;!&ndash;                    Cart&ndash;&gt;-->
<!--  &lt;!&ndash;                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>&ndash;&gt;-->
<!--  &lt;!&ndash;                </button>&ndash;&gt;-->
<!--  &lt;!&ndash;            </form>&ndash;&gt;-->
<!--  &lt;!&ndash;        </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    </header>&ndash;&gt;-->
<!--</div>-->
<!--</html>-->