<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>
<top th:fragment="top">


<body>
<!--    <div class="top">-->

<!--        <div class="wrapper">-->
<!--            <ul class="top-menu">-->
<!--&lt;!&ndash;                <li class="top-left"><a href="#"><p>즐겨찾기</p></a></li>&ndash;&gt;-->
<!--                <li class="top-left" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/item/new"><p>상품등록&nbsp;</p></a></li>-->
<!--                <li class="top-left" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/items"><p>상품관리&nbsp;</p></a></li>-->
<!--                <li class="top-right" sec:authorize="isAnonymous()"><a href="/members/new"><p>회원가입&nbsp;</p></a></li>-->
<!--                <li class="top-right" sec:authorize="isAnonymous()"><a href="/members/login"><p>로그인&nbsp;</p></a></li>-->
<!--                <li class="top-right" sec:authorize="isAuthenticated()"><a href="/members/logout"><p>로그아웃</p></a></li>-->
<!--                <li class="top-right" sec:authorize="isAuthenticated()"><a href="/orders"><p>구매이력</p></a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->

<!--    </div>-->

    </body>
</top>
</div>


</html>
